.Benefits{
    padding: 50px;
}
.Benefits  h1{
    color: var(--Grey-15, #262626);
    font-style: normal;
    font-weight: 600;
    line-height: 200%; 
    font-size: 40px;
}
.Benefits .row-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}
.Benefits-text-left , .Benefits-btn-right{
    width: calc((100% - 40px) / 2);
}
.Benefits-text-left {
    display: flex;
    flex-wrap: wrap;
}
.Benefits-text-left p{
    font-size: 12px;
    font-weight: 400;

}
.Benefits-btn-right{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    width:90px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.Benefits-btn-right .view{
    /* padding: 14px;  */
    /* border-radius: 2px;  */
    /* display: flex; */
    color: #000;
    text-align: center;
    font-size: 13px;
}
.card-benefits{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    /* padding: 20px; */
    margin-bottom: 30px;
}
.benefit-item{
    width:319px;
    height:342px ;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    flex: 1  0;
    border-radius: 12px;
    background: var(--Absolute-White, #FFF);
}
.content-benefit{
     align-items: flex-start;
     align-self: stretch;
}
.benefit-item h1 {
    font-size: 50px;
}
.content-benefit h3{
    line-height: 50px;
    font-size: 14px;
}
.content-benefit p{
    font-size: 12px;
    font-weight: 500;
}
.benefit-item .svg{
    border-radius: 5px;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
}