.courses{
    padding: 50px;
}
.courses  h1{
    color: var(--Grey-15, #262626);
    font-style: normal;
    font-weight: 600;
    line-height: 200%; 
    font-size: 40px;
}
.courses .row-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}
.courses-text-left , .courses-btn-right{
    width: calc((100% - 40px) / 2);
}
.courses-text-left {
    display: flex;
    flex-wrap: wrap;
}
.courses-text-left p{
    font-size: 12px;
    font-weight: 400;
}
.courses-btn-right{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    width:90px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
.courses-btn-right .view{
    color: #000;
    text-align: center;
    font-size: 13px;
}
