.main{
    padding: 50px;
}
.main  h1{
    color: var(--Grey-15, #262626);
    font-style: normal;
    font-weight: 600;
}
.main-row{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main-svg svg{
    width: 20px;
    height: 30px;
    position: absolute;
    left: 33.5%;
    top: 18%;
}
.box-item-main{
    display: flex;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
}
.box-item-main svg{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: var(--Orange-95, #FFF4E5);
}
.box-item-main b{
    color: var(--Orange-50, #FF9500);
}
.main-row h3{
    font-weight: 600;
}
.main-row p{
    font-size: 12px;
}
.main-btn{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.main-btn a{
    font-size: 12px;
    font-family: 600;
}
.courses-btn{
    border-radius: 5px;
    padding: 10px;
    gap: 8px;
    color: #fff;
    background: var(--Orange-50, #FF9500);
}
.pircing-btn{
    border-radius: 5px;
    padding: 10px;
    gap: 8px;
    color: #000;
    background: var(--Absolute-White, #FFF);
}

@media only screen and (max-width:347px){
    /* header nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
   header nav ul li{
       display: block;
       margin-right:50px;
       margin-top: 10px;
       margin-bottom: 10px;
    }
   header nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    } */
    /* .header{
        padding: 10px;
    } */
    .main{
        padding: 30px;
    }
    .box-item-main{
        align-items: center;
         width: 300px;
     height: 56px;
    }
    .box-item-main svg{
    width: 20px;
    height: 20px;
    padding: 8px;
    box-sizing: content-box;
    }
    .box-item-main h1{
        font-size: 15px;
        font-weight: 600;
    }
    .main-row{
        /* display: flex; */
        width: 220px;
        /* flex-direction: column; */
        /* align-items: center; */
        /* gap: 10px; */
    }
    .main-row h3{
        text-align: center;
        width: 300px;
        font-size: 22px;
        font-weight: 600;
        line-height: 150%;
    }
    .main-row p{
        text-align: center;
        width: 250px;
        font-size: 13px;
        line-height: 150%;
    }
    .main-btn{
        width: 900px;
    }

}