/*-------- media query for menu ------*/

 @media only screen and (max-width:390px){
    /* header nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
   header nav ul li{
       display: block;
       margin-right:50px;
       margin-top: 10px;
       margin-bottom: 10px;
    }
   header nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    } */
     
   
}