.pircing{
    padding: 50px;
}
.pircing a {
    color: #000;
}
.pircing  h1{
    color: var(--Grey-15, #262626);
    font-style: normal;
    font-weight: 600;
    line-height: 200%; 
    font-size: 40px;
}
.pircing .row-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 40px;
}
.piring-text-left , .pircing-btn-right{
    width: calc((100% - 40px) / 2);
}
.piring-text-left {
    gap: 300px;
    display: flex;
    flex-wrap: wrap;
}
.pircing-btn-right{
    background-color: #fff;
    display: flex;
    padding: 10px;
    align-items: center;
    width:272px;
    height: 79px;
    border-radius: 8px;
}
.pircing .pircing-btn-right a{
    padding: 14px 30px;
    border-radius: 2px;
    font-family: 'Inter' , sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #000;

}
.pircing .pircing-btn-right .month{
    color: #fff ;
    border:2px solid var(--orange-50, #FF9500);
    background: var(--orange-50, #FF9500);
}

.box-pircing{
    padding: 50px;
    margin-bottom: 40px;
}
.row-item-box{
    border-radius: 12px;
    background: var(--Absolute-White, #FFF);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.free-plan-left, .pro-plan-right{
    width: calc((100% - 50px) / 2);
}
.free-plan-left{
    border-radius: 12px;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
    padding: 40px;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
    flex: 1 0 0;
}
.pro-plan-right{
    border-radius: 12px;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
    padding: 40px;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.title{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--Orange-90, #FFEACC);
    background: var(--Orange-97, #FFF9F0);
}
.title h2{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 169%; 
}
.number{
    padding: 50px 30px 30px 30px;;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
}
.number h2{
    color: var(--Grey-15, #262626);
    font-size: 50px;
    font-weight: 600;
    line-height: 73%; /* 58.4px */
}
.number span{
    color: var(--Grey-30, #4C4C4D);
    font-size: 15px;
    font-weight: 500;
    line-height: 73%; /* 14.6px */
}
.box-one , .box-two{
display: flex;
padding: 40px;
flex-direction: column;
/* align-items: center; */
gap: 30px;
/* align-self: stretch; */
border-radius: 14px 14px 0px 0px;
border: 1px solid var(--White-95, #F1F1F3);
background: var(--Absolute-White, #FFF);
}
.box-one h3  , .box-two h3{
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 200%; /* 30px */
}
.box-item{
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--White-95, #F1F1F3);
    padding: 15px;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.box-item svg{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: var(--Orange-95, #FFF4E5);
}
.btn-start{
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 0px 0px 8px 8px;
    background: var(--Orange-50, #FF9500);
}
.btn-start a{
    color: var(--Absolute-White, #FFF);
}