.container-video {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
padding: 30px;
}
.container-video img{
width: 100%;
height: 100%;
border-radius: 8px;
border: 16px solid var(--White-97, #F7F7F8);
}
.icons-company{
    padding: 50px;
}
.icons-company-row{
    display: flex;
    width: 100%;
    padding: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 12px;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
}
.svg-icon-item-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
}
.svg-icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    border-left: 1px solid #F1F1F3;
}
.svg-icon-item svg , .svg-icon-item-one svg{
    width: 68px;
    height: 34px;
}
/*-------- media query for menu ------*/

@media only screen and (max-width:390px){ 
    .icons-company{
        padding: 10px;
        display: flex;
        width: 43px;
    }
    .icons-company-row{
        display: flex;
        width: 957px;
        height: 74px;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        gap: 20px;
    }
    .icons-company-row svg{
        width: 100%;
        height: 27px;
    }

    .container-video {
        display: flex;
        /* width: 500px; */
        /* height: 247px; */
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        margin-top: -40px;
    }    
    .container-video img{
        width: 390px;
        height: 247px;
        }
   
}